<script type="text/javascript">
    jQuery(function ($) {
        $("#treeview").shieldTreeView();
    });

</script>
<div class="col-sm-3">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">Collapsible panel</a>
                </h4>
            </div>
            <ul id="treeview">
                {% set path = [""] %}
                {%- for key, value in dict.items() recursive %}
                <li>
                    {% do path.append(key) %}
                    <a class="folders" id="folder_{{ key }}" href={{ path|join('/')|urlencode }}>{{ key }}</a>
                    {%- if value %}
                        <ul>{{ loop(value.items())}}</ul>
                    {%- endif %}
                    {% do path.pop(-1) %}
                </li>
                {%- endfor %}
            </ul>
        </div>
    </div>
</div>
